.text-gradient {
  background: linear-gradient(276deg, #5a01cb 37.08%, #fe8900 57.18%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-family: Roboto;

  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: red;
  transform-origin: 0%;
  z-index: 999;
}
